/* css del header hay que arreglarlo y adaptarlo bien */

body {
	margin: 0;
	padding: 0;
}
.header{
    background-color: #004E6A;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    text-align: center;
}
.imagenlogo{
    width: 50px;
    height: 50px;
}
.nav{
    background-color: #004E6A;
    padding: 0px;
}
.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.li {
    float: left;
    padding-left: 46px;
    padding-right: 46px ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    
}
.li:last-child {
    padding-left: 50px;
    padding-right: 50px ;
}
.li:hover {
    background-color: #01C38E;
}
.menu {
    display: block;
    color:white;
    text-decoration: none;
}