/* CSS general de la página */

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Montserrat:wght@500;600;700;800&display=swap');


/* VARIABLES CSS COLORES */
/* Listado de variables de los colores */
:root {
    --azul: #004E6A;
    --blanco: #FFFFFF;
    --verde: #01C38E;
    --negro: #000000;
    --naranja: #FF7918;
    --grisaseo: #A9C9D3;
    --grisInactivo: #707070;
    --gris: #D9D9D9;
    --celeste: #54E0FF;
    --h1NoReg: #F38C41;
    --h4NoReg: #4D4C7E;
}


/*Header*/
header {
    background: var(--azul);
    height: 1920px;
    width: 240px;
}


/* BOTONES */
/*Botón para todas las pantallas*/
.boton1 {
    height: 200px;
    width: 50px;
    border: 1px solid black 15px;
    padding: 10px;
}

.boton2 {
    height: 440px;
    width: 90px;
    border: 1px, 0px, 0px, 0px solid, Black #000000;
    border-radius: 15px;
    padding: 25px, 50px, 25px, 50px;
}



/*Switch*/
switch {
    background: var(--verde);
    background: var(--grisaseo);
}



/*Cajas de texto*/
.CajasTextoTitulares {
    background: var(--celeste);
}


/*Body Excepciones*/

/* Fuente y tipográfia, Tamaño de fuente para dispositivos grandes */
:root {
    font-family: 'Monserrat', sans-serif;
}

h1,
h2 {
    font-weight: bolder;
}

h3,
h4,
h5,
h6 {
    font-style: italic;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

h5 {
    font-size: 35px;
}

h6 {
    font-size: 30px;
}

p {
    font-size: 22px;
}

textarea {
    font-size: 20px;
}

a {
    font-size: 22px;
}


/* MENÚ DE NAVEGACIÓN */
/* Enlaces */
nav {
    margin: 0;
    border: 1px 0px 0px 0px solid, White 255, 255, 255, 0, 2;
    height: 1920px;
    width: 150px;
}

a {
    font-size: 22px;
    margin: 150px;
}


/* BODY */
/* Cajas de texto normal*/
div {
    padding: 40/60px, 50/250px, 40/60px, 50/250px;
}



/* Cajas de texto con titular a destacar */
div {
    padding: 15px, 20px, 15px, 20px;
    border-radius: 15px;
    border: 0, 5px;
    box-shadow: 0px, 4px, 4px, 0px;
}



/* Tarjetas aside propuestas informativas*/
aside {
    padding: 15px, 20px, 15px, 20px;
    border-radius: 15px;
}



/*Tarjeta aside de perfiles */
aside {
    padding: 15px, 20px, 15px, 20px;
    border-radius: 15px;
    border: 0, 5 Black;
}

/* BASE DE LA PÁGINA */

/* ÁREA PERSONAL */

/* ELABORACIÓN DE PERFIL DE USUARIO */

/* ELABORACIÓN DE PERFIL PÚBLICO */

/* ORIENTADOR VIRTUAL */

/* RANKING */

/* LISTADO DE COMPETENCIAS */