body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #fff;
}

.header{
    background-color: #333;
    color: aliceblue;
    padding: 15px;
}
.nav{
    background-color: rgba(230, 230, 230, 0.889);
    padding: 15px;
}
.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.li {
    float: left;
    padding-left: 10px;
}
.menu {
    display: block;
    color:#333;
    text-decoration: none;
}
.contenedor{
    padding-left: 20px;
}
.footer{
    grid-column: 1 / span 12;
    background-color: #333;
    color: aliceblue;
    padding: 20px;
}
.text{
    text-align: center;
}
.img{
    width: 200px;
    height: 150px;
}